<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703583527275-o882lhqp2t4f794ri4basm8c4pk822vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703583527275-o882lhqp2t4f794ri4basm8c4pk822vq</string>
	<key>API_KEY</key>
	<string>AIzaSyAjeoOQQekysqDVlHQiCF75EMiQk7pyxYk</string>
	<key>GCM_SENDER_ID</key>
	<string>703583527275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuapp1</string>
	<key>PROJECT_ID</key>
	<string>kuapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>kuapp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703583527275:ios:369f16ed5d96fb7dbd2c2e</string>
</dict>
</plist>